@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=DotGothic16&family=Jua&family=Poppins:wght@700&family=Young+Serif&display=swap');

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    body {
      background: #999;
      width: 100%;
    }
  }

html{
    background: url('/Users/carminebattista/Documents/GitHub/WebDevF23/Midterm/Portfolio_Website/audio_design/texturedgreen.jpeg') no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*If you want it to work in IE*/
    filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";

}

body{
    font-family: 'Young Serif', serif;
}

footer {
    text-decoration: none;
    text-align: center;
    padding: 2px;
    background-color: rgb(36, 98, 29);
    color: white;
  }

  footer a{
    text-decoration: none;
    color: #999;
  }

.container h1{
    text-align: center;
    color: rgb(8, 61, 9);
    font-size: 48px;
}

.container .audio1{
    font-size: 24px;
    text-align: center;
}

.container .audio1 .afile{
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
}

.container .audio1 p{
    text-align: left;
    font-size: 18px;
    color: black;
}

.container .audio1 h2{
    text-align: center;
    font-size: 36px;
    color: rgb(53, 52, 52);
}

.container .audio2{
    font-size: 24px;
    text-align: center;
}

.container .audio2 .afile{
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
}

.container .audio2 p{
    text-align: left;
    font-size: 18px;
    color: black;
}

.container .audio2 h2{
    text-align: center;
    font-size: 36px;
    color: rgb(53, 52, 52);
}

.container .audio3{
    font-size: 24px;
    text-align: center;
}

.container .audio3 .afile{
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
}

.container .audio3 p{
    text-align: left;
    font-size: 18px;
    color: black;
}

.container .audio3 h2{
    text-align: center;
    font-size: 36px;
    color: rgb(53, 52, 52);
}

.container .audio4{
    font-size: 24px;
    text-align: center;
}

.container .audio4 .afile{
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
}

.container .audio4 p{
    text-align: left;
    font-size: 18px;
    color: black;
}

.container .audio4 h2{
    text-align: center;
    font-size: 36px;
    color: rgb(53, 52, 52);
}


/* Dropdown Button */
.dropbtn {
    font-family: 'Young Serif', serif;
      background-color: #4e8156;
      box-shadow: 2px 2px 5px rgb(102, 101, 101), 5px 5px 5px rgb(168, 165, 165), 7px 7px 5px rgb(234, 236, 234);
      color: white;
      margin: 16px;
      padding: 16px;
      font-size: 16px;
      border: none;
    }
    
    /* The container <div> - needed to position the dropdown content */
    .dropdown {
      position: relative;
      display: inline-block;
    }
    
    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }

    
    /* Links inside the dropdown */
    .dropdown-content a {
        font-family: 'Young Serif', serif;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    
    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {background-color: rgb(206, 240, 206);}
    
    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {display: block;}
    
    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {background-color: #bbdebb;}