/* Global Styles */
/* "*" means everything */
/* Taking into account borders and padding into set dimension of any div/article/box etc. */
* {
    box-sizing: border-box;
}

/* Zero out the annoying margin on the page */
html, body {
    margin: 0;
}

/* Scale image to fit it's parent container */
img {
    width: 100%;
    height: auto;
}

/* Desktop First Styling */
/* 100vw it doesn't matter what it is inside of it will 
just count whatever the pixels are and it will 
always be the size of the window */
div.hero {
    width: 100vw;
    max-height: 100vh;
    overflow: hidden;
    position: relative;
    margin-bottom: 2rem;
}

.hero article {
    position: absolute;
    bottom: 10%;
    right: 0;
    width: 50%;
    padding: 2%;
    background: linear-gradient(to right, rgba(62, 34, 83, 0.65) 0%,rgba(62, 34, 83,0.5)51%, rgba(62, 34, 83,.2) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}
button, a.info{
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #333;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
}
button:hover, a.info:hover{
    /*change stuff here on hover */
}

.container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

.thumb {
    position: relative;
   /* width: 30%; */
   flex-grow: 0;
   flex-shrink: 0;
   flex-basis: 30%;
   /* this is the same as the above three lines */
   /* flex: 0 0 30%; */
   overflow:visible;
   margin: 24px auto;

}

.thumb img { 
    border-radius: 50%;
    top:-50px; 
    left:-35px; 
    display:block; 
    z-index:999; 
    cursor: pointer; 
    -webkit-transition-property: all; 
    -webkit-transition-duration: 0.3s; 
    -webkit-transition-timing-function: ease; 
    } 
    
    /*change the number below to scale to the appropriate size*/ 
    .thumb:hover img { 
    transform: scale(1.5); 
    
    }

/* prepare the initial state for the images to transform */


.mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    background-color: rgba(255,255,255, .5);
    transition: all 1s ease-in-out;
}

.mask h2 {
    margin: 0;

}

.mask p{
    font-style: italic;
}

.thumb:hover .mask{
    opacity: 1;
}

.thumb .mask h2, .thumb .mask p, .thumb .mask a{
    opacity: 0;
    transform: scale(0);
    transition: all 1s ease-in-out;
}

.thumb:hover .mask h2, .thumb:hover .mask p, .thumb:hover .mask a{
    opacity: 1;
    transform: scale(1);
}

/* MEDIA QUERIES */
/* Smaller than ipad classic in portrait so we will assume mobile  */
@media only screen and (max-width:767px){

    .container{
        flex-direction: column;
        padding: 12px;
    }

    .hero article {
        width: 100%;
        padding: 25px;
        bottom: 0;
    }

}
/* tablet size */
@media screen and (min-width: 768px) and (max-width:1024px){

    .hero article{
        width: 75%;
    }

    .thumb{
        flex-basis: 45%;
    }

}

@media only screen and (min-width: 768px) and (max-width:1024px){

}