@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=DotGothic16&family=Jua&family=Poppins:wght@700&display=swap');

*{
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding:none;
    font-family: 'DotGothic16', sans-serif;
}

/*
html {
    background: url(../home_page/img/background.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
}
*/

.container{
    width: 90%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

.aboutme {
   flex-grow: 0;
   flex-shrink: 0;
   flex-basis: 35%;
   overflow:visible;
   margin:30px auto;


}

.graphic_design {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 30%;
    overflow:visible;
    margin:30px auto;
 }
 

 .audio_design {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 15%;
    overflow:visible;
    margin:30px auto;
 }

 .physical_design {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 10%;
    overflow:visible;
    margin:30px auto;
 }

 .resume{
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 20%;
    overflow:visible;
    margin:30px auto;
 }
 
 /* postion about me circle */
.thumbnail { 
    margin-left: 60px;
    margin-top: 48px;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgb(186, 148, 148), 10px 10px 10px rgb(214, 178, 178), 15px 15px 10px rgb(234, 236, 234);
    top:-50px; 
    left:-35px; 
    display:block; 
    z-index:999; 
    cursor: pointer; 
    -webkit-transition-property: all; 
    -webkit-transition-duration: 0.3s; 
    -webkit-transition-timing-function: ease; 
} 

/* hover about me circle */
.thumbnail:hover{ 
     transform: scale(1.5); 
}

/* postion graphic design circle */
.thumbnail2 { 
    margin-top: 40px;
    height:300px;
    width:300px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgb(188, 187, 138), 10px 10px 10px rgb(218, 214, 180), 15px 15px 10px rgb(234, 236, 234);
    top:-10px; 
    left:-10px; 
    display:block; 
    z-index:999; 
    cursor: pointer; 
    -webkit-transition-property: all; 
    -webkit-transition-duration: 0.3s; 
    -webkit-transition-timing-function: ease; 
}     

/* hover graphic design circle */
.thumbnail2:hover { 
    transform: scale(1.35); 
}
    
/* postion audio design circle */
.thumbnail3 { 
    margin-top: 60px;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgb(153, 184, 160), 10px 10px 10px rgb(189, 217, 197), 15px 15px 10px rgb(234, 236, 234);
    top:-100px; 
    left:-105px; 
    display:block; 
    z-index:999; 
    cursor: pointer; 
    -webkit-transition-property: all; 
    -webkit-transition-duration: 0.3s; 
    -webkit-transition-timing-function: ease; 
} 

/* hover audio design circle */
.thumbnail3:hover { 
    transform: scale(1.5); 
}

/* postion physical design circle */
.thumbnail4 { 
    height: 280px;
    width: 280px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgb(153, 173, 184), 10px 10px 10px rgb(189, 210, 217), 15px 15px 10px rgb(234, 236, 234);
    top:-100px; 
    left:-105px; 
    display:block; 
    z-index:999; 
    cursor: pointer; 
    -webkit-transition-property: all; 
    -webkit-transition-duration: 0.3s; 
    -webkit-transition-timing-function: ease; 
} 

/* hover physical design circle */
.thumbnail4:hover { 
    transform: scale(1.35); 
}

/* postion resume circle */
.thumbnail5 { 
    height: 275px;
    width: 275px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgb(178, 153, 184), 10px 10px 10px rgb(207, 189, 217), 15px 15px 10px rgb(234, 236, 234);
    top:-100px; 
    left:-105px; 
    display:block; 
    z-index:999; 
    cursor: pointer; 
    -webkit-transition-property: all; 
    -webkit-transition-duration: 0.3s; 
    -webkit-transition-timing-function: ease; 
} 

/* hover resume circle */
.thumbnail5:hover { 
    transform: scale(1.5); 
}

/* position of about me link */
.link1{
    position: relative;
    width: 273px;
    
}

.link1 .mask .inf{
    position: absolute;
    text-decoration: none;
    font-size: 24px;
    color: black;
    text-shadow: 2px 2px 4px black;
    top: -560px;
    right:10px;
}

/* color change when hovering over link */
.link1:hover .inf:hover{
    color: white;
}

/* position of graphic design link */
.link2{
    position: relative;
    width: 800px;
}

.link2 .mask .inf{
    position: absolute;
    text-decoration: none;
    font-size: 24px;
    color: black;
    text-shadow: 2px 2px 4px #000000;
    top: -540px;
    right:10px;
}

/* color change when hovering over link */
.link2:hover .inf:hover{
    color: white;
}

/* position of audio design link */
.link3{
    position: relative;
    width: 1225px;
}

.link3 .mask .inf{
    position: absolute;
    text-decoration: none;
    font-size: 24px;
    color: black;
    text-shadow: 2px 2px 4px #000000;
    top: -540px;
    right:10px;
}

/* color change when hovering over link */
.link3:hover .inf:hover{
    color: white;
}

/* position of physical design link */
.link4{
    position: relative;
    width: 425px;
}

.link4 .mask .inf{
    position: absolute;
    text-decoration: none;
    font-size: 24px;
    color: black;
    text-shadow: 2px 2px 4px #000000;
    top: -190px;
    right:10px;
}

/* color change when hovering over link */
.link4:hover .inf:hover{
    color: white;
}

/* position of resume link */
.link5{
    position: relative;
    width: 1020px;
}

.link5 .mask .inf{
    position: absolute;
    text-decoration: none;
    font-size: 24px;
    color: black;
    text-shadow: 2px 2px 4px #000000;
    top: -190px;
    right:10px;
}

/* color change when hovering over link */
.link5:hover .inf:hover{
    color: white;
}




