@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=DotGothic16&family=Jua&family=Poppins:wght@700&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=DotGothic16&family=Inika:wght@400;700&family=Jua&family=Poppins:wght@300;400;500;600;700&family=Young+Serif&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: white;
  font-family: 'Inika', serif;
  font-weight: 400;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 500px;
  gap: 10px;

  > div {
    flex: 0 0 200px;
    border-radius: 0.5rem;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    box-shadow: 1px 5px 15px rgb(59, 110, 62);
    position: relative;
    overflow: hidden;

    &:nth-of-type(1) {
      background: url("../handson_design/img/heart.png")
        no-repeat 50% / cover;
    }
    &:nth-of-type(2) {
      background: url("../handson_design/img/glove.png")
        no-repeat 50% / cover;
    }
    &:nth-of-type(3) {
      background: url("../handson_design/img/wings.png")
        no-repeat 50% / cover;
    }
    &:nth-of-type(4) {
      background: url("../handson_design/img/tile.png")
        no-repeat 50% / cover;
    }

    .content {
      font-size: 1.5rem;
      color: #fff;
      display: flex;
      align-items: center;
      padding: 15px;
      opacity: 0;
      flex-direction: column;
      height: 100%;
      justify-content: flex-end;
      background: rgb(2, 2, 46);
      background: linear-gradient(
        0deg,
        rgba(75, 160, 103, 0.676) 0%,
        rgba(44, 109, 58, 0) 100%
      );
      transform: translatey(100%);
      transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
      visibility: hidden;

      span {
        display: block;
        margin-top: 5px;
        font-size: 1.2rem;
      }
    }

    &:hover {
      flex: 0 0 500px;
      box-shadow: 1px 3px 15px  rgb(62, 104, 70);
      transform: translatey(-30px);
    }

    &:hover .content {
      opacity: 1;
      transform: translatey(0%);
      visibility: visible;
    }
  }
}
/*Header*/
.header{
  font-family: 'Inika', serif;
  margin-left:850px;
  margin-bottom:-50px;
  position: relative;
}
/* Dropdown Button */
.dropbtn {
  background-color: #ebebe9;
  font-family: 'Inika', serif;
  box-shadow: 5px 5px 5px rgb(7, 7, 7), 2px 2px 2px rgb(107, 106, 106), 1px 1px 5px rgb(173, 174, 173);
  color: rgb(62, 104, 70);
  margin: 10px;
  padding: 16px;
  font-size: 16px;
 
 
  border: none;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  margin-top: -120px;
  margin-left: -1300px;
  display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  font-family: 'Inika', serif;;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  text-decoration-color: #acaca8;
  min-width: 160px;
  margin-left: 16px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {color: rgb(59, 110, 62);}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/*Footer*/
footer {
  font-family: 'Inika', serif;
  font-size: 16px;
  margin-top: 50px;
  text-decoration: none;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #3E6B48;
  color: white;
}
footer a{
  font-family: 'Inika', serif;
  font-size: 16px;
  text-decoration: none;
  color: white;
}
footer p{
  font-family: 'Inika', serif;
  font-size: 16px;
  text-decoration: none;
  color: white;   
}

